.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.wrapper{
    display:flex;
    gap:40px;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(7,159px);
    grid-template-rows: repeat(2,1fr);
    gap: 40px; */
}
.toggleText{
    cursor:pointer;
    color: var(--color-primary);
}
.toggleText:hover{
    opacity: 0.3;
}
.cardWrapper{
    margin-top:18px ;
}
.container{
    margin-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}